# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы окружения
.env
.env.local
.env.*.local

# Игнорировать логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать папку сборки (если используется)
/dist
/build

# Игнорировать файлы редакторов
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?